# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Enviroment files
.env
.env.*
!.env.example

# Backend / Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.log
db.sqlite3

# Frontend / Node / Vite
frontend/node_modules
frontend/dist/
frontend/build/