# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Enviroment files
.env
.env.*

# Allow example env files
!.env.example

# Django
*.log
db.sqlite3

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db